{% extends "admin/change_list.html" %}
{% block object-tools-items %}

    {{ block.super }}

    <li>
        <a href="/admin/main/newword/generate-dict/" class="grp-state-focus addlink">Сгенерировать словарь</a>
    </li>

{% endblock %}